
@{
    ViewBag.Title = "Compra Realizada!";
    Layout = "~/Views/Shared/_statueStoreLayout.cshtml";
}


<div class="container col-12 top15">
    <div class="row">
        <img src="~/Content/imagens/ok.png" width="200rem" height="200rem" class="mx-auto d-block" />
    </div>
    <div class="row top5 center comprarealizada">
        <h2 class="red-text text-center">Compra realizada com sucesso !</h2>
    </div>

    <div class="row top5 center botoes">
        @Html.ActionLink("Pagina inicial", "Index", "Home", null, new { @class = "btn btn-dark" })
        @Html.ActionLink("Meus Pedidos", "Index", "MeusPedidos", null,new { @class = "btn btn-outline-dark" })
    </div>
</div>

<style>
    .center {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 60%;
    }

    .comprarealizada {
        color: #b605a7;
        font-size: 1.2em;
        font-family: LemonMilkBold;
    }

    .botoes {
        width: 20%;
    }
</style>

